@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @applydark: bg-gray-800 bg-white
    }
}


h1.subscriptionHeading::before {
    content: "";
    bottom: -10px;
    height: 10px;
    background: #e80909 0 0 no-repeat padding-box;
    opacity: 1;
    position: absolute;
    left: 0px;
    z-index: -1;
    width: 100%;
    margin: auto;
    z-index: 1;
}

.custom-label input:checked+img {
    display: block !important;
}




/* ////////////////////////Start Sidebar////////////////////////////////// */
#sidebar {
    --tw-translate-x: -100%;
}

#menu-close-icon {
    display: none;
}

#menu-open:checked~#sidebar {
    --tw-translate-x: 0;
}

#menu-open:checked~* #mobile-menu-button {
    /* background-color: red; */
}

#menu-open:checked~* #menu-open-icon {
    display: none;
}

#menu-open:checked~* #menu-close-icon {
    display: block;
}

@media (min-width: 768px) {
    #sidebar {
        --tw-translate-x: 0;
    }
}

/* ////////////////////////End Sidebar////////////////////////////////// */



/* ////////////////////////Start Phone Input////////////////////////////////// */

.react-tel-input .form-control {
    width: 100% !important;
    background: #343734 !important;
    height: 48px !important;
    border: 1px solid #343734 !important;
    color: white !important;
}

@media screen and (max-width:575px) {
    .react-tel-input .form-control {
        font: 600 12px/20px Poppins !important;
    }

    .react-tel-input .selected-flag {
        font: 600 12px/20px Poppins;
        height: 50px;
    }
}

/* ////////////////////////End Phone Input////////////////////////////////// */

.blue-circle {
    animation-delay: 0.1s;
}

.green-circle {
    animation-delay: 0.2s;
}

.red-circle {
    animation-delay: 0.3s;
}